@import '../variables.css';

.AboutUs {
	background-color: var(--secondery-background);
	display: flex;
	flex-direction: column;
}

.AboutUs-inner {
	max-width: var(--container-max-width);
}

.AboutUs-img {
    margin-top: 35px;
}

@media(--viewport-sm-min) {
	.AboutUs {
		flex-direction: row;
		overflow: hidden;
	}

	.AboutUs-inner {
		min-width: 40%;
	}

	.AboutUs-img {
	    margin-top: -46px;
	}
}