@import '../variables.css';

.Header {
    z-index: 30;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid #fff;

    &[data-small="true"] {
		height: 75px;
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 0 0 rgba(0,0,0,1);
    }
}

.Header-inner {
	width: 100%;
	max-width: var(--container-max-width);
	margin: 0 auto;
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Logo {
    height: 150%;
    transform: translateY(25%) translateX(5%);
    transition: all 0.3s;
    cursor: pointer;
}

.Header[data-small="true"] {
	.Logo  {
		height: 145%;
	}
    .NavigationTrigger span,
    .NavigationTrigger span:before,
    .NavigationTrigger span:after {
        background-color: #333
    }
}

.Header[data-nav-open="true"] {
    .NavigationTrigger span {
        background-color: transparent;
    }  
    .NavigationTrigger span:before,
    .NavigationTrigger span:after {
       background-color: #fff; 
    } 
}

@media(--viewport-sm-min) {
	.Header[data-small="true"] .Navigation-items {
		color: #333;
	}
}